/*头部的样式*/
body,html{
	font:14px/1.5 "PingFang SC",Helvetica,"Helvetica Neue","微软雅黑",Tahoma,Arial,sans-serif;
}
 a{
		color:#333;
}
#content #left{
	overflow-y: auto;
}
.logo{
	display: inline-block;
	color:#fff;
	font-size: 28px;
	/*font-weight: bold;*/
}
.nav-item{
	height:65px;
	/*border:1px solid red;*/
	/*display: inline-block;*/
	margin-left:200px;
	margin-top: -70px;
}
.nav-item a{
	height: 63px;
	padding:0 20px;
	font-size: 18px;
	/*border:1px solid red;*/
	display: inline-block;
	cursor: pointer;

}
.active{
	color:#fff;
	background: #9BD5FF;
	border-bottom:3px solid #FFCC99;
}
/*用户名样式*/
.username{
	font-size:20px;
	font-weight: bold;
	color:#eee;
	margin-right:20px;
}
.loginout{
	color:#ddd;
	font-size: 14px;
	
}

/*返回箭头的样式*/
#header .icon-fanhui{
	font-size: 30px;
	color:#fff;
}
#header .icon-fanhui:hover{ 
	color:#ffb56a;
}



/*左侧的样式*/
.yibiaopan{
	height:35px;
	line-height: 35px;
	margin-top:10px;
	border-bottom: 1px dashed #ccc;
}
.yibiaopan i.icon-jiahao{
	cursor: pointer;
}
.yibiaopan i{
	cursor: pointer;
}

/*.yangshi span{
	height: 30px;
	line-height: 30px;
}*/
.yangshi ul{
	/*overflow-y: auto;*/
}
.yangshi ul li{
	width:95%;
	display: inline-block;
	/*margin:10px auto;*/
	padding:5px 0 5px 5%;
	margin:5px 0;
	font-size:14px;
	position: relative;
	/*cursor: pointer;*/
}
.yangshi ul li:hover{
	background: rgba(255,255,255,0.5);
}
.yangshi ul li .icon-zhankai{
	cursor: pointer;
	position: absolute;
	right:2%;
	display: inline-block;
	
}
.yangshi ul li:hover .icon-zhankai{

}

.yangshi ul li>span{
	display: inline-block;
	/*width:80%;*/
	margin-left: 0;
}

/*左侧表名，光标放上去后出现具体操作样式*/
.yangshi  ul li .biao_caozuo{
	width:80px;
	position: absolute;
	right:0;
	background: #fff;
	border:1px solid #eee;
	text-align: center;
	display: none;
}
.yangshi  ul li .biao_caozuo>span{
	width:100%;
	padding:3px 0;
	display: inline-block;
	cursor: pointer;
}
.yangshi .biao_edit:hover{
	background: #b5dfff;
}
.yangshi .biao_delete:hover{
	background: #b5dfff;
}
.yangshi .icon-iconfontyuan{
	color:#00ff00;
}
.yangshi .icon-bianji,
.yangshi .icon-shanchu{
	margin-right: 3px;
}







/*右侧的样式*/
#showcharts{
	width: 80%;
	height:100%;
	padding:0 1.5%;
	/*margin-top:10px;*/
	display: inline-block;
	/*border:1px solid red;*/
}
.charttitle .left{
	font-size:22px;
}
.charttitle .right i{
	margin:0 10px;
	display: inline-block;
}

.teach{
	width:100%;
	margin:0 auto;
	/*text-align: center;*/
}
.teach a{
	color: #fff;
}
.s1,
.s3,
.step4{
	display: inline-block;
	width: 40%;
	height:40%;
	padding:2% 0;
	/*padding:140px 0;*/
	/*height:200px;*/
	margin:2% 4.5% 1%;
	border:1px solid #ccc;
	position: relative;
	color: #fff;
}
.upexcel{
	text-align: center;
}
/* .step2{
	display: inline-block;
	width: 40%;
	height:40%;
	margin-left:20%;
	margin:0 auto;
	position: relative;
	color: #fff;
	text-align: center;
}
 */
  
.cbp_tmtimeline .cbp_tmlabel>span i{
	font-size:22px;
	color:#fff;display:inline-block;margin-right: 10px;
}


.step1 span,
.step3 span,
.step4 span{
	width:100%;
	padding:5px 0;
	font-size: 18px;
	color: #fff;
	text-align: center;
	display: inline-block;
	position: absolute;
	bottom: 0;
	background-color: rgba(80,80,80,0.6);
}
.step span{
	/*width:100%;*/
	padding:5px 0;
	font-size: 18px;
	color: #fff;
/*	text-align: center;*/
	display: inline-block;
 
	background-color: rgba(80,80,80,0.6);
}
.step2 form{
	text-align: center;
}
.step2 form input[type='file']{
	display: inline-block;
	/*width:140px;*/
	/*width:80%;*/
	font-size: 14px;
	margin-left: 20px;
	cursor: pointer;

}
.step2 form input[type='submit']{
	font-size: 14px;
	color:#333;
	/*width:60%;*/
	border:1px solid #eee;
	background-color: #ddd;
	padding:2px 4px;
	cursor: pointer;
	margin-top: 10px;
	display: inline-block;

}
.step2 form input[type='submit']:hover{
	background-color: #35A7FF;
	color:#fff;
}
 .step2 a{
 	border-radius: 4px;
 	border:1px solid #5182E4;padding:5px 10px;margin-top:15px;display: inline-block;
    /*border:#074A99 0px solid;*/
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#074A99,strength=4);/*ie*/
    -moz-box-shadow: 0 0 20px #074A99;/*firefox*/
    -webkit-box-shadow: 0 0 20px #074A99;/*safari或chrome*/
    box-shadow: 0 0 10px #074A99;/*opera或ie9*/
}

 


 /*首页的图表样式*/
 #chart1{
 	width:80%;
 	height:80%;
 	margin:20px auto;
 	border:1px solid #cee2e3;
 }


 /*左侧被选中的li的央视*/
 .activeli{
 	background: #fff;
 }

