.filetitle{ 
	margin: 0 24px; 
	
	padding-bottom: 9px; 
	 
}
.filetitle span{
	
	float: right;
	width:25%;
	 

}
.filetitle h2{
	padding-top: 0px;
	display: inline
	width: 70%;
	color: rgba(10,18,32,.64);

}




/* icon */
.icon-newlist{
	background-image: url('./../img_icon/icon_1.png');
	width: 16px;
	height: 16px;
}