<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>超腾主页</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./../../bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./../../css/global.css">
	<link rel="stylesheet" type="text/css" href="./../../css/nav.css">
	<link rel="stylesheet" type="text/css" href="./../../css/article.css">
	 

</head>
<body>
	<div id="wrap">

		<!-- 头部 -->
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin: 0;">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{:url('Index/index')}"><img src="./../../img/LOGO_index.png">&nbsp;CHOGGE</a>
				</div>

				<!-- 导航 -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right" style="margin-right: 60px;">
						<li><a href="#">博客</a></li>
						<li><a href="#">文档</a></li>
						<li><a href="#">Demo</a></li>
						<li><a href="#">产品</a></li>
						<li><a href="#">关于</a></li>
						<li><a href="{:url('Index/loginreg')}">登录</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->

			</div><!-- /.container-fluid -->
		</nav>
		<!-- end of nav -->
		
		<div class="container-fluid" style="margin-top: 100px;">
			<div class="article">
				<div class="article_top">
					<p>关于我们</p>
				</div>
				<div class="article_main">
					<p>
						超腾大数据平台(Choggten Big Data Platform)隶属于苏州超腾物联科技有限公司，是一家专业的大数据清洗及可视化服务公司。公司依托上海同济大学强大的科研实力，与曹楠博士的大数据可视化实验室展开深度合作，致力于为用户提供专业的大数据可视化解决方案。
					</p>
					<p style="color: #4C9ED9;">曹楠博士简介：</p>
					<p style="margin-top: 10px;">
						同济大学教授，中组部青年千人（信息科学），博士生导师，于 2012 年 8月 从香港科技大学获得计算机博士学位。
					</p>
					<p>
						加入同济大学前，曹楠教授曾在IBM公司工作长达10年之久，曾担任美国IBM沃森研究院研究员，网络知识科学与信息组可视化项目负责人，及IBM 沃森研究院图形与可视化学会主席。
					</p>
					<p>
						曹楠的主要研究方向是信息可视化及可视化分析，是数据科学领域的重要分支之一。他领导了众多社交媒体领域以及医疗信息领域的相关可视化项目。他的研究专注于用图形的方式展现复杂数据中的关联信息。 其中包括针对大规模数据内在关联性的可视化分析，异构多维度数据的可视化分析，以及无结构文本的可视化分析。更多信息请参见其个人学术主页：<a href="http://nancao.org">http://nancao.org</a>
					</p>
					<p style="color: #4C9ED9;">主要奖项：</p>
					<p class="p_indent" style="margin-top: 10px;">1. 中组部第十二批青年千人, 2016</p>
					<p class="p_indent">2. ACM IUI 最佳论文奖, 2016</p>
					<p class="p_indent">3. IBM 杰出技术成就奖, 2015</p>
					<p class="p_indent">4. IEEE VAST最佳论文提名奖, 2014</p>
					<p class="p_indent">5. IBM杰出研究成果奖, 2013</p>
					<p class="p_indent">6. 香港科技大学杰出博士生研究奖，2012</p>
					<p class="p_indent">7. 与2005 – 2016 年期间，累计获得五项IBM创新成就奖</p>
					<p class="p_indent">8. 微软最有价值专家，2005</p>
					<p class="p_indent">9. 微软创新杯软件设计大赛杰出成果奖，2005</p>
					<p class="p_indent">10. 中国开源软件设计大赛，银杯，新秀奖，2004</p>
					<p class="p_indent">11. 西北工业大学最佳学士论文奖，2003</p>
				</div>
			</div>
			
		</div>
		<!-- 联系我们 -->
		<div class="container-fluid" style="background-color: #63AADE;">
			<div class="contact_me">
				 <span class="contact_email">联系我们 : chogge@565tech.com</span>
				<!--  <span class="contact_tel">电话：18852963680</span> -->
				 <span class="contact_addr">地址：常熟市同济科技广场24楼</span>
				 <span class="contact_indent">©超腾物联科技有限公司 | 苏ICP备13035478号-4</span>
			</div>
		</div>
	</div>

	<!-- 脚本语言 -->
	<script src="./../../js/jquery.min.js"></script>
	<script src="./../../bootstrap/js/bootstrap.min.js"></script>
	<!-- <script src="js/getClientHeight.js"></script> -->
	<script src="./../../js/animation.js"></script>
</body>
</html>