<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>爱诺信主页</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./../../bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./../../css/global.css">
	<link rel="stylesheet" type="text/css" href="./../../css/nav.css">
	<link rel="stylesheet" type="text/css" href="./../../css/index.css">
	<link rel="stylesheet" type="text/css" href="./../../css/homeAn.css">
	
</head>
<body>
  
	<div id="wrap">
		 <!-- header -->
		 {include file="public/index/header" /} 
           <!-- end -->
		<div class="container-fluid" id="module1" style="margin: 0;padding: 0;
		background-color:#63aade ">
			<div class="head_content" style="text-align: center;">
			 	<h2>爱诺信数据可视化平台</h2>
				<h1>
				领先的数据处理 & 数据可视化平台
				</h1>
				<h3>简单  高效  智能</h3>
				<script type="text/javascript">
					window.onload = function setHeight() {
			 				var clientHeight =window.screen.height;
					 var module1 = document.getElementById('module1');
			 					module1.style.height = clientHeight-10+"px";
					}
				</script>
				<div class="homeAn">
					<div class="group group_1" style="width: 16%;vertical-align: middle;">
						 <div class="g_top" style="height: 56px;">
						 	<img src="./../../chogge/Excel.png" class="pic" style="opacity: 0.9;" id="top_1">
						 	<img src="./../../chogge/MySQL.png" class="pic" style="margin-left: 7px;opacity: 0.9;" id="top_2">
						 </div>
						 <div class="g_center" style="margin-top: -6px;height: 56px;">
						 	<img src="./../../chogge/ERP.png" class="pic" style="opacity: 0.8;" id="top_3">
						 	<img src="./../../chogge/CVS.png" class="pic" style="margin-left: 7px;opacity: 0.9;" id="top_4">
						 	<img src="./../../chogge/API.png" class="pic" style="margin-left: 7px;opacity: 0.9;" id="top_5">
						 </div>
						 <div class="g_bottom" style="margin-top: -6px;height: 56px;">
						 	<img src="./../../chogge/OA.png" class="pic" style="opacity: 0.9;" id="top_6">
						 	<img src="./../../chogge/dengdeng.png" class="pic" style="margin-left: 7px;opacity: 0.9;" id="top_7">
						 </div>
					</div>
					<div class="group group_2" style="width: 8%;vertical-align:middle;">
						<img src="./../../chogge/line.png">
					</div>
					<div class="group group_3" style="width: 10%;vertical-align: middle;">
						<img src="./../../chogge/CDCM.png" id="animate_two">
					</div>
					<div class="group group_4" style="width: 8%;vertical-align: middle;">
						<img src="./../../chogge/line.png">
					</div>
					<div class="group group_5" style="width: 26%;vertical-align: middle;">
						<img src="./../../chogge/dataDeal.png" style="width: 20%;" id="book1">
						<img src="./../../chogge/keshihua.png" style="width: 22%;margin-left: 10px;" id="book2">
						<img src="./../../chogge/distribute.png" style="width: 26%;margin-left: 15px;" id="book3">
					</div>
					<div class="group group_6" style="width: 8%;vertical-align: middle;margin-left: -20px;">
						<img src="./../../chogge/line.png">
					</div>
					<div class="group group_7" style="width: 12%;vertical-align: middle;margin-left: 20px;">
						<div class="g_left" style="display: inline-block;width: 48%;"> 
							<img src="./../../chogge/PPT.png" style="position: absolute;top: 0;left: 0;" class="device1">
							<img src="./../../chogge/COM.png" style="position: absolute;bottom: 5px;left: -10px;" class="device2">
						</div>
						<div class="g_right" style="display: inline-block;width: 48%;">
							<div style="margin-left: -20px;vertical-align: bottom;">
								<img src="./../../chogge/TV.png" style="margin:20px -50px;" class="device3">
							</div>
							<div>
								<img src="./../../chogge/mobile.png" style="margin-left: -50px;" class="device4">
							</div>
							
						</div>
					</div>
		
				</div>
				
				<div class="first_use" style="margin: 0 auto;height: 150px;position: relative;">
					<a href="#" style="display: block;text-decoration: none;outline: none; border:1px solid #FFF;padding: 10px 20px;font-size: 20px;letter-spacing: 3px; color:#FFF;position: absolute;top:50px;left: 45%;font-family: '幼圆';cursor: pointer;">
						<span>申请试用</span>
					</a>
				</div>
			</div>
			end of head_content
		</div>
	</div>
		<!-- end of container -->
		{include file="public/index/mode1" /}
		<!-- footer -->
        {include file="public/index/footer" /}
		<!--end-->
			<!-- 脚本语言 -->
	<script type="text/javascript" src='./../../js/echarts.min.js'></script>
	<script src="./../../js/jquery.min.js"></script>
	<script src="./../../bootstrap/js/bootstrap.min.js"></script>
	<!-- <script src="js/getClientHeight.js"></script> -->
	<script src="./../../js/animation.js"></script>
	
	<script src="https://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>

	<script type="text/javascript" src='http://gallery.echartsjs.com/dep/echarts/map/js/china.js'></script>
	<!-- <script type="text/javascript" src='./../../js/config.js'></script> -->
	<script src='./../../js/indexchart.js'></script>
</body>
</html>

	