<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>爱诺信主页</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./../../bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./../../css/global.css">
	<link rel="stylesheet" type="text/css" href="./../../css/nav.css">
	<link rel="stylesheet" type="text/css" href="./../../css/index.css">
	<link rel="stylesheet" type="text/css" href="./../../css/homeAn.css">
	
</head>
<body>
	<div id="wrap">

		<!-- 头部 -->
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin: 0;">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{:url('/index')}"><img src="./../../img/LOGO_index.png">&nbsp;CHOGGE</a>
				</div>

				<!-- 导航 -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right" style="margin-right: 60px;">
						<li><a href="http://blog.565tech.com/">博客</a></li>
						<li><a href="#">文档</a></li>
						<li><a href="http://chogge.565tech.com/index/index/demo.html">Demo</a></li>
						<li><a href="#">产品</a></li>
						<!-- <li><a href="{:url('/aboutme')}">关于</a></li> -->
						<li><a href="{:url('/login')}">登录</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->

			</div><!-- /.container-fluid -->
		</nav>
		<!-- end of nav -->
		
		<!-- headerContent -->
		<div class="container-fluid" id="module1" style="margin: 0;padding: 0;
		background-color:#63aade ">
			<div class="head_content" style="text-align: center;">
			 	<h2>爱诺信数据可视化平台</h2>
				<h1>
				领先的数据处理 & 数据可视化平台
				</h1>
				<h3>简单  高效  智能</h3>
				<script type="text/javascript">
					window.onload = function setHeight() {
	 				var clientHeight =window.screen.height;
					 var module1 = document.getElementById('module1');
	 					module1.style.height = clientHeight-10+"px";
					}
				</script>
				<div class="homeAn">
					<div class="group group_1" style="width: 16%;vertical-align: middle;">
						 <div class="g_top" style="height: 56px;">
						 	<img src="./../../chogge/Excel.png" class="pic" style="opacity: 0.9;" id="top_1">
						 	<img src="./../../chogge/MySQL.png" class="pic" style="margin-left: 7px;opacity: 0.9;" id="top_2">
						 </div>
						 <div class="g_center" style="margin-top: -6px;height: 56px;">
						 	<img src="./../../chogge/ERP.png" class="pic" style="opacity: 0.8;" id="top_3">
						 	<img src="./../../chogge/CVS.png" class="pic" style="margin-left: 7px;opacity: 0.9;" id="top_4">
						 	<img src="./../../chogge/API.png" class="pic" style="margin-left: 7px;opacity: 0.9;" id="top_5">
						 </div>
						 <div class="g_bottom" style="margin-top: -6px;height: 56px;">
						 	<img src="./../../chogge/OA.png" class="pic" style="opacity: 0.9;" id="top_6">
						 	<img src="./../../chogge/dengdeng.png" class="pic" style="margin-left: 7px;opacity: 0.9;" id="top_7">
						 </div>
					</div>
					<div class="group group_2" style="width: 8%;vertical-align:middle;">
						<img src="./../../chogge/line.png">
					</div>
					<div class="group group_3" style="width: 10%;vertical-align: middle;">
						<img src="./../../chogge/CDCM.png" id="animate_two">
					</div>
					<div class="group group_4" style="width: 8%;vertical-align: middle;">
						<img src="./../../chogge/line.png">
					</div>
					<div class="group group_5" style="width: 26%;vertical-align: middle;">
						<img src="./../../chogge/dataDeal.png" style="width: 20%;" id="book1">
						<img src="./../../chogge/keshihua.png" style="width: 22%;margin-left: 10px;" id="book2">
						<img src="./../../chogge/distribute.png" style="width: 26%;margin-left: 15px;" id="book3">
					</div>
					<div class="group group_6" style="width: 8%;vertical-align: middle;margin-left: -20px;">
						<img src="./../../chogge/line.png">
					</div>
					<div class="group group_7" style="width: 12%;vertical-align: middle;margin-left: 20px;">
						<div class="g_left" style="display: inline-block;width: 48%;"> 
							<img src="./../../chogge/PPT.png" style="position: absolute;top: 0;left: 0;" class="device1">
							<img src="./../../chogge/COM.png" style="position: absolute;bottom: 5px;left: -10px;" class="device2">
						</div>
						<div class="g_right" style="display: inline-block;width: 48%;">
							<div style="margin-left: -20px;vertical-align: bottom;">
								<img src="./../../chogge/TV.png" style="margin:20px -50px;" class="device3">
							</div>
							<div>
								<img src="./../../chogge/mobile.png" style="margin-left: -50px;" class="device4">
							</div>
							
						</div>
					</div>

				</div>
				<!-- end homeAn -->
				<!-- <div class="homeAn" style="margin-top: 10px;">
					<div class="group group_1" style="width: 16%;vertical-align: middle;">
						<span>数据源</span>
					</div>
					<div class="group group_2" style="width: 8%;vertical-align:middle;">
						
					</div>
					<div class="group group_3" style="width: 10%; vertical-align: middle;">
						 <span>数据清洗</span>
					</div>
					<div class="group group_4" style="width: 8%;vertical-align: middle;">
						 
					</div>
					<div class="group group_5" style="width: 26%;vertical-align: middle;">
						<div style="width: 20%;color: #FFF;display: inline-block;">
							<span>处理</span>
						</div>
						<div style="width: 30%;color: #FFF;display: inline-block;">
							<span>可视化</span>
						</div>
						<div style="width: 26%;color: #FFF;display: inline-block;">
							<span>分发</span>
						</div>
					</div>
					<div class="group group_6" style="width: 8%;vertical-align: middle;">
						<img src="chogge/line.png" style="visibility: hidden;">
					</div>
					<div class="group group_7" style="width: 12%;vertical-align: middle;margin-left: 20px;">
						<span>多平台显示</span>
					</div>

				</div> -->
				<!-- end homeAn -->
				<div class="first_use" style="margin: 0 auto;height: 150px;position: relative;">
					<a href="#" style="display: block;text-decoration: none;outline: none; border:1px solid #FFF;padding: 10px 20px;font-size: 20px;letter-spacing: 3px; color:#FFF;position: absolute;top:50px;left: 45%;font-family: '幼圆';cursor: pointer;">
						<span>申请试用</span>
					</a>
				</div>
			</div>
			<!-- end of head_content -->
		</div>
		<!-- end of container -->

		<!-- 功能模块  -->
		<div class="container-fluid" style="margin-top: 20px;padding-bottom: 40px;">
			 <div class="row" style="width: 92%;margin: 0 auto;">
				<div class="col-md-4 col-sm-6 col-xs-12 item">
					<div class="pro_item"> 
						<div class="img_con">
							<img src="./../../img/1.png">
						</div>
						<div class="title_con">
							<span>数据私有，安全无忧</span>
						</div>
						<div class="desc_con">
							<span>
							完整的数据解决方案，真正属于你的数据平台，助你积累数据资产。
							</span>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 col-xs-12 item">
					<div class="pro_item">
						<div class="img_con">
							<img src="./../../img/2.png">
						</div>
						<div class="title_con">
							<span>一键导入，灵活配置</span>
						</div>
						<div class="desc_con">
							<span>
								客户端埋点、服务端日志、业务数据库、第三方服务，全面覆盖，统一管理，自由整合。
							</span>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 col-xs-12 item">
					<div class="pro_item">
						<div class="img_con">
							<img src="./../../img/3.png">
						</div>
						<div class="title_con">
							<span>多种数据支持</span>
						</div>
						<div class="desc_con">
							<span>
								提供开放的查询 API 和完整的 SQL 接口。
							</span>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 col-xs-12 item">
					<div class="pro_item">
						<div class="img_con">
							<img src="./../../img/4.png">
						</div>
						<div class="title_con">
							<span>产品功能，专注BI</span>
						</div>
						<div class="desc_con">
							<span>
								不仅仅是基于简单的用户属性，而是用完整的用户行为创建分群，助你真正实现精细化用户运营
							</span>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 col-xs-12 item">
					<div class="pro_item">
						<div class="img_con">
							<img src="./../../img/5.png">
						</div>
						<div class="title_con">
							<span>精益分析，轻松整合</span>
						</div>
						<div class="desc_con">
							<span>
								灵活强大的多维分析，高度灵活的漏斗、留存、回访分析。
							</span>
						</div>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-6 col-xs-12 item">
					<div class="pro_item">
						<div class="img_con">
							<img src="./../../img/6.png">
						</div>
						<div class="title_con">
							<span>灵活分析，一目了然</span>
						</div>
						<div class="desc_con">
							<span>
								不知道数据分析如何入手？我们为电商、互联网金融、视频直播、手游、在线教育、企业服务领域提供了专业的数据解决方案.
							</span>
						</div>
					</div>
				</div>
				</div>
				 

		</div>
		<!-- 第二功能模块 -->
		
		<!-- 第三功能模块之介绍 -->
		<div class="container-fluid" style="background-color: #63AADE;">
			<div class="intro_con">
				<span class="title1">	
					我们提供的不止于软件，更是专注于你数据解决方案。帮您高效办公。
				</span><br>
				<span class="title2">
					了解爱诺信数据是如何工作的
				</span><br>
				<span class="glyphicon glyphicon-chevron-down" style="font-size: 20px;"></span>
			</div>
		</div>
		<!-- end第三模块 -->

		
		<!-- 第四模块 -->
		<div class="container-fluid" style="margin-top: 46px;padding-bottom: 40px;">
			<!-- 1 -->
			<div class="row row1" style="width: 84%;margin: 0 auto;">
				<div class="col-md-6 col-md-6 col-xs-12 item2">
					<div class="step_item">
						<div id="chart1" class="chart"></div>
						<!-- <img src="./../../img/pro1.png"> -->
					</div>
				</div>
				<div class="col-md-6 col-md-6 col-xs-12 item2">
					<div class="step_item">
						<span class="step_title">NO.1  &nbsp;
						朴氏人口迁徙图</span>
						<span class="step_text">
							利用大数据，对拥有的LBS（基于地理位置的服务）大数据进行计算分析，采用的可视化呈现方式，动态、即时、直观地展现朴氏人口大迁徙的轨迹与迁入人口的来源和迁出人口的去向等特征。
						</span>
					</div>
				</div>
			</div>
			<hr style="color: #e3e3e3;">
			<!-- 2 -->
			<div class="row row1" style="width: 84%;margin: 0 auto;">
				<div class="col-md-6 col-md-6 col-xs-12 item2">
					<div class="step_item">
						<span class="step_title">NO.2 &nbsp;本年商场顾客男女人数统计</span>
						<span class="step_text">
							用折线将各个数据点标志连接起来，直观的展现了数据的变化趋势。柱形的高度，清晰的表现了数据的大小。时间区域可缩放，从而能自由关注商场顾客男女人数统计的信息。
						</span>
					</div>
				</div>
				<div class="col-md-6 col-md-6 col-xs-12 item2">
					<div class="step_item">
						<div id="chart2" class="chart"></div>
						<!-- <img src="./../../img/pro2.png"> -->
					</div>
				</div>
			</div>
			<hr style="color: #e3e3e3;">
			<!-- 3 -->
			<div class="row row1" style="width: 84%;margin: 0 auto;">
				<div class="col-md-6 col-md-6 col-xs-12 item2">
					<div class="step_item">
						<div id="chart3" class="chart"></div>
						<!-- <img src="./../../img/pro3.png"> -->
					</div>
				</div>
				<div class="col-md-6 col-md-6 col-xs-12 item2">
					<div class="step_item">
						<span class="step_title">NO.3  &nbsp;全国宏观经济指标</span>
						<span class="step_text">
							连续的时序数据，将时间格式化，展现了不同年份的全国宏观经济指标。柱状图表现了不同城市的数据量，饼图表现了不同产业相对于总数的百分比等关系。
						</span>
					</div>
				</div>
			</div>
			<hr style="color: #e3e3e3;">
			<!-- 4 -->
			<div class="row row1" style="width: 84%;margin: 0 auto;">
				<div class="col-md-6 col-md-6 col-xs-12 item2" >
					<div class="step_item">
						<span class="step_title">NO.4  &nbsp;力导向布局关系图</span>
						<span class="step_text">
							展现了节点以及节点之间的关系数据。节点受到的向中心的引力因子。该值越大节点越往中心点靠拢。系统中的每个节点间存在某种库仑斥力。同时，节点之间的边产生类似弹簧的胡克引力。

						</span>
					</div>
				</div>
				<div class="col-md-6 col-md-6 col-xs-12 item2">
					<div class="step_item">
						<div id="chart4" class="chart"></div>
						<!-- <img src="./../../img/pro4.png"> -->
					</div>
				</div>
			</div>

		</div>
		<!-- end第四模块 -->
		
		<!-- 联系我们 -->
		<div class="container-fluid" style="background-color: #63AADE;">
			<div class="contact_me">
				 <span class="contact_email">联系我们 : chogge@565tech.com</span>
				<!--  <span class="contact_tel">电话：18852963680</span> -->
				 <span class="contact_addr">地址：常熟市同济科技广场24楼</span>
				 <span class="contact_indent">©爱诺信物联科技有限公司 | 苏ICP备13035478号-4</span>
			</div>
		</div>
	</div>

	<!-- 脚本语言 -->
	<script type="text/javascript" src='./../../js/echarts.min.js'></script>
	<script src="./../../js/jquery.min.js"></script>
	<script src="./../../bootstrap/js/bootstrap.min.js"></script>
	<!-- <script src="js/getClientHeight.js"></script> -->
	<script src="./../../js/animation.js"></script>
	
	<script src="https://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>

	<script type="text/javascript" src='http://gallery.echartsjs.com/dep/echarts/map/js/china.js'></script>
	<!-- <script type="text/javascript" src='./../../js/config.js'></script> -->
	<script src='./../../js/indexchart.js'></script>
</body>
</html>