<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户登录</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./../../css/login.css">
	<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
	
</head>
<body>
	<div id="login">
		<nav class="nav">
			<div class="nav_logo">
				<div class="logo">
					<img src="./../../img/LOGO.png">
				</div>
				<div class="text">
					<span class="login_name">&nbsp;超腾数据</span>
					<span class="login_txt">&nbsp;登录</span>
				</div>
				
			</div>
			<div class="nav_ul">
				<ul>
					<li>
						<a href="http://115.28.131.227/yolanda/chao/index.html">超腾官网</a>	&nbsp;|&nbsp;
					</li>
					<li>
						<a href="index.html">超腾数据</a> &nbsp;|&nbsp;
					</li>
				</ul>
			</div>
		</nav>
		
		<!-- 第二部分 主体部分-->
		<div class="main" id="main">
			<div class="img_con">
				  
				 	<img src="./../../img/login.jpg">
				 
				
			</div>
			
			<div class="login_con">
			 
				 	<div class="form1">
					<div class="kitem kitem_1">
						<span class="iconfont">&#xe614;</span>
						<input type="text" name="username" id="username" placeholder="用户名" onblur="existUser();" autocomplete="off">
					</div>
					 <span id="info" name="info" style="float: right;font-size: 12px;color: #E83319;"></span>
					<div class="kitem kitem_1">
						<span class="iconfont">&#xe63d;</span>
						<input type="password" name="passwd" id="passwd" placeholder="密码" autocomplete="off">
					</div>
					<div class="kitem">
						 <div class="forget">
						 	<a href="{:url('/changepassword')}">忘记密码？</a>
						 </div>
					</div>
					<div class="kitem">
						<button type="submit"  onclick="dist_pwd();" id="login_in">登录</button>
					</div>
					<span id="info2" style="display:block;padding:10px;font-size: 12px;color: #E83319;"></span>
					<div class="kitem">
						 <div class="forget">
						 	<a href="{:url('/register')}">没有账号，注册新用户？</a>
						 </div>
					</div>
					<div class="kitem">
						<!-- <span style="font-family: '宋体';font-size: 12px;color: #666;">第三方登录&nbsp;</span> -->
						<a href="javascript:void(0);" class="icon_qq icon_green iconfont_1">
							 &#xe601;
						</a>
						<a href="javascript:void(0);" class="icon_qq icon_orange iconfont_1">
							 &#xe627; 
						</a>
						<a href="javascript:void(0);" class="icon_qq icon_red iconfont_1" style="font-size: 26px;">
							 &#xe603;
						</a>
						<!-- <img src="../img/wexin.png" width="30" height="30">
						<img src="../img/qq.png" width="50" height="50">
						<img src="../img/webo.png" width="30"> -->
					</div>
					 
					 </div>
				 
			</div>
		</div>

	    <!-- footer -->  
       {include file="public/index/footer" /}
		<!-- end  -->
	 

	</div>
	<script type="text/javascript">
     function existUser(){
           $.post("{:url('index/exist_User_to_dis')}",{username:$('#username').val()},
              function(data){
              $('#info').html("<font>"+data+"</font>");
              }
           );
           
     } 
     function dist_pwd(){
          $.post("{:url('index/login_suss_dis')}",{username:$('#username').val(),passwd:$('#passwd').val()},
              function(data){

              if(data=="success")
              {
                   window.location.href="{:url('/userAdmin')}"; 
              }else{
              $('#info2').html("<font>"+data+"</font>");
              }
              
              }
           );
     }
     $(document).ready(function() {
			 
			 

		})
     
	</script>
	<script type="text/javascript">
					window.onload = function setHeight() {
	 				var clientHeight =window.screen.height;
					 var module1 = document.getElementById('main');
	 					module1.style.height = clientHeight-200+"px";
					}
	</script>
</body>
</html>