<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录注册页面</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./../../css/login.css">
	<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
</head>
<body style="background: #FFF;overflow-x: hidden;">
	<div id="login">
		<nav class="nav">
			<div class="nav_logo">
				<div class="logo">
					<img src="./../../img/LOGO.png">
				</div>
				<div class="text">
					<span class="login_name">&nbsp;爱诺信数据</span>
<!-- 					<span class="login_txt">&nbsp;登录</span>
 -->				</div>
				
			</div>
			<div class="nav_ul">
				<ul>
					<li>
						<a href="http://565tech.com/">爱诺信官网</a>	&nbsp;|&nbsp;
					</li>
					<li>
						<a href="index.html">爱诺信数据</a> &nbsp;|&nbsp;
					</li>
				</ul>
			</div>
		</nav>
		
		<!-- 第二部分 主体部分-->
		<div class="register" style="border:1px solid #fff;">
			<div class="register_con">
			<!--	<form action="{:url('Index/reg_from_submit_to_sucess')}" method="post" onsubmit="return toVaild()"> -->
				<div>
					<div class="r_head">
						<span class="iconfont_2">&#xe60e;</span>
						<span>注册</span>
					</div>
					
					<div class="r_item">
						<label><i>*</i>&nbsp;用户名：</label>
						<input type="text" name="username" id="user" placeholder="设置你的用户名" onblur="disusername();">
					</div>
					<div class="r_item">
						<label><i>*</i>&nbsp;登录密码：</label>
						<input type="password" name="pwd" id="pwd" placeholder="设置你的登录密码">
					</div>
					<div class="r_item">
						 <label><i>*</i>&nbsp;密码确认：</label>
						<input type="password" name="pwds" id="pwds" placeholder="请再次输入你的密码" onblur="dispwd();" >
					</div>
					<div class="r_item">
						 <label><i>*</i>&nbsp;邮箱地址：</label>
						<input type="email" name="email" id="email" placeholder="">
					</div>
					<div class="r_item">
						 <label><i>*</i>&nbsp;手机号码：</label>
						<div class="left" style="width:57%; display: inline-block;border:1px solid #e3e3e3;">
							<span style="border-right: 1px solid #e3e3e3;padding: 5px;font-size: 14px;">+86</span>
							<input type="tel" name="tel" id="tel" style="border:transparent;display: inline-block;">
						</div>
						
					</div>
					<div class="r_item">
						<label><i>*</i>&nbsp;验证码：</label>
						<input type="text" name="yanma" id="yanma" placeholder="" style="width: 80px;">
						<span class="random">
							<button id="yanzhengma" onclick="disyanzhengma();">验证码</button>
						</span>
					</div>
					<div  class="r_che">
						<div class="left">
							 <input type="checkbox" name="cheBox">
						</div>
						 <span class="che_txt">
						 	同意爱诺信大数据平台注册协议 
						 </span>

					</div>
					<div class="r_sub">
					<!-- 	<label style="visibility: hidden;"><i>*</i>&nbsp;手机号码</label> -->
						<button type="submit" onclick="reg_ajax_submit_to_sucess();">注册</button>
					</div>
					
					<span id="info"></span>
				<!--</form> -->
				</div>
			</div>
		</div>

		<!-- 联系我们 -->
			<!-- footer -->  
       {include file="public/index/footer" /}
		<!-- end  -->

	</div>
	<script type="text/javascript">
     function dispwd(){
    
         $.post("{:url('Index/exist_res_User_to_dis')}",{
         //username:$('#name').val()
         pwd:$('#pwd').val(),
         pwds:$('#pwds').val()
         //email:$('#email').val()
         //phone:$('#tel').val()

         },
              function(data){
              $('#info').html("<font color=red>"+data+"</font>");
              }
           );
     }
     function disusername(){
          
         $.post("{:url('Index/exist_res_Username_to_dis')}",{
         
         username:$('#user').val()
        
         },
              function(data){
                if (data=='用户名可用'){
                   $('#info').html("<font color=green>"+data+"</font>");
                }else{
                   $('#info').html("<font color=red>"+data+"</font>");
                   }
              
              }
           );

     }
    function disyanzhengma(){
            $.post("{:url('Index/dis_yanzhengma')}",{
         
         phone:$('#tel').val()
        
         },
              function(data){
               // alert(data);
                 $('#info').html("<font color=red>"+data+"</font>");
              
              }
           );
    }
    function reg_ajax_submit_to_sucess(){
            $.post("{:url('Index/reg_ajax_submit_to_sucess')}",{
            username:$('#user').val(),
            pwd:$('#pwd').val(),
            phone:$('#tel').val(),
            email:$('#email').val(),
            yanma:$('#yanma').val()
        
         },
              function(data){
                
                 if(data=='ok'){
                    window.location.href="{:url('/loginreg')}";
                 }else{
                     $('#info').html("<font color=red>"+data+"</font>");
                 }
              
              }
           );  
    }
     /*
        function toVaild(){
                 var val = document.getElementById("ff").value;
                 alert(val);
                 if(val == "可以提交"){
                     alert("校验成功，之后进行提交");
                     return true;
                 }
                 else{
                     alert("校验失败，不进行提交");
                     return false;
                 }
              }  */

	</script>
</body>
</html>