<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>重置密码</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./../../css/login.css">

</head>
<body style="overflow-x: hidden;" id="body2">
	<div id="login">
		<nav class="nav">
			<div class="nav_logo">
				<div class="logo">
					<img src="./../../img/LOGO.png">
				</div>
				<div class="text">
					<span class="login_name">&nbsp;超腾数据</span>
					<span class="login_txt">&nbsp;密码重置</span>
				</div>
				
			</div>
			<div class="nav_ul">
				<ul>
					<li>
						<a href="http://115.28.131.227/yolanda/chao/index.html">超腾官网</a>	&nbsp;|&nbsp;
					</li>
					<li>
						<a href="index.html">超腾数据</a> &nbsp;|&nbsp;
					</li>
				</ul>
			</div>
		</nav>
		
		<!-- 第二部分 主体部分-->
		<div class="register" id="resetPaw">
			<div class="register_con" style="margin-top: 12%;">
			<!--	<form action="{:url('Index/reg_from_submit_to_sucess')}" method="post" onsubmit="return toVaild()"> -->
				<div>
					<div class="r_head">
						<span class="iconfont_2">&#xe60e;</span>
						<span>重置密码</span>
					</div>
					
					<div class="r_item">
						<label>&nbsp;用户名：</label>
						<input type="text" name="username" id="user" style="border:transparent;" readonly="readonly" value="{$username.name}">
					</div>
					<div class="r_item" style="margin-top: 16px;">
						<label><i>*</i>&nbsp;登录密码：</label>
						<input type="password" name="pwd" id="pwd" placeholder="设置你的登录密码" onblur="dispwdlength();" autocomplete="off">
						<span id="info1" style="color:#E83319;display:block;margin-left: 30%;font-size: 12px;"></span>
					</div>
					
					<div class="r_item" style="margin-top: 16px;">
						 <label><i>*</i>&nbsp;密码确认：</label>
						<input type="password" name="pwds" id="pwds" placeholder="请再次输入你的密码" onblur="dispwd();" autocomplete="off">
					</div>
					<!-- <div class="r_item">
						 <label><i>*</i>&nbsp;邮箱地址：</label>
						<input type="email" name="email" id="email" placeholder="">
					</div>
					<div class="r_item">
						 <label><i>*</i>&nbsp;手机号码：</label>
						<div class="left" style="width:57%; display: inline-block;border:1px solid #e3e3e3;">
							<span style="border-right: 1px solid #e3e3e3;padding: 5px;font-size: 14px;">+86</span>
							<input type="tel" name="tel" id="tel" style="border:transparent;display: inline-block;">
						</div>
						
					</div>
					<div class="r_item">
						<label><i>*</i>&nbsp;验证码：</label>
						<input type="text" name="yanma" id="yanma" placeholder="" style="width: 80px;">
						<span class="random">
							<button id="yanzhengma" onclick="disyanzhengma();" style="width: 100px;">获取验证码</button>
						</span>
					</div> -->
					<span id="info" style="font-size: 12px;float: right;"></span>
					<br>
					<!-- <div  class="r_che">
						<div class="left">
							 <input type="checkbox" name="cheBox" id="cheBox">
						</div>
						 <span class="che_txt">
						 	同意超腾大数据平台注册协议 
						 </span>
					
					</div> -->
					<div class="r_sub">
					<!-- 	<label style="visibility: hidden;"><i>*</i>&nbsp;手机号码</label> -->
						<button type="button" onclick="reg_ajax_submit_to_sucess();">密码重置</button>
						
					</div>
				 
					
				<!--</form> -->
				</div>
			</div>
		</div>

		<!-- footer -->  
       {include file="public/index/footer" /}
		<!-- end  -->

	</div>
	<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
	<script type="text/javascript"> 
 


	 function dispwdlength(){
	 	  var pwdlength = $('#pwd').val().length;
            
	 	  if(pwdlength>=6 && pwdlength<=10){
             
	 	  }else{
	 	  	 $('#pwd').val('');
	 	  	 $('#info1').html("<font>密码长度大于6位小于10位！</font>");
	 	  }

	 }
     function dispwd(){
    
         $.post("{:url('Index/exist_res_User_to_dis')}",{
   
         pwd:$('#pwd').val(),
         pwds:$('#pwds').val()
    

         },
              function(data){
              if(data==""){
                 $('#info').html("<font color=red></font>");
              }
              	else{
              		 $('#pwds').val('');
              		$('#info').html("<font color=red>"+data+"</font>");
              	}
              
              }
           );
     }
    
    function reg_ajax_submit_to_sucess(){
    	 
    	 var pwd =  $('#pwd').val();
    	 var pwds = $('#pwds').val();
    	 
   
    	 if( pwd == ''||pwds == '' ){
                   $('#info').html("<font color=red>信息不全</font>");
    	  }
    	  else if(pwd != pwds){ 

                $('#info').html("<font color=red>两次密码不正确</font>");
    	  }

    	  else{
            $.post("{:url('Index/change_password')}",{
            name:$('#user').val(),
            pwd:$('#pwd').val(),
           
        
          },
              function(data){
                
                 if(data=='ok'){
                    window.location.href="{:url('/login')}";
                 }else{
                     $('#info').html("<font color=red>"+data+"</font>");
                 }
              
              }
           );  
          }
    }
 
	</script>
</body>
</html>