<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>模板首页</title>
	<script src="https://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="./../../js/index2.js"></script>
	<link rel="stylesheet" type="text/css" href="./../../css/iconfont/iconfont.css">
	<link rel="stylesheet" type="text/css" href="./../../css/index2.css">
	<link rel="stylesheet" type="text/css" href="./../../css/chartdetail.css">
</head>
<body>
	<!-- 头部的导航栏 -->
	<div id="header">
		<div class="left">
			<div class="logo">爱诺信数据</div>
			<div class="nav-item">
				<a id="yibiaopan" class="disactive" href="http://chogge.565tech.com/index/admin/index.html">仪表盘</a>
				<a id="gongzuobiao" class="disactive" href="http://chogge.565tech.com/index/admin/worksheet.html">工作表</a>
				<a id="shujuyuan" class="disactive" href="http://chogge.565tech.com/index/admin/datasource.html">数据源</a>
				<a id="mubanku" class="active" href="http://chogge.565tech.com/index/admin/module.html">模板库</a>
			</div>
		</div>
	<div class="right">
			<span class="username">{$username}</span>
			<a href="{:url('Admin/out_login')}" class="loginout">退出</a>
		</div>
	</div>
	<!-- 具体内容 -->
	<div id="content">
		<!-- 左侧添加仪表盘和样式 -->
		<div id="left">
			<div class="yibiaopan">
				<div class="left"><b>仪表盘</b></div>
				<div class="right">
					<i class="iconfont icon-sousuo"></i>
					<i class="iconfont icon-jiahao"></i>
					<i class="iconfont icon-zhankai"></i>
				</div>	
				<div class="clear"></div>
			</div>
			<div class="yangshi">
				<span>添加的样式</span>
				<ul>
					<li>仪表盘1</li>
					<li>仪表盘2</li>
					<li>仪表盘3</li>
				</ul>
			</div>
		</div>
		<!-- 右边具体显示图表的名字和表 -->
		<div id="showcharts" class="left">
			<div class="charttitle">
				<div class="left"><b>仪表盘名字</b></div>
				<div class="right">
					<i class="iconfont icon-jiahao">添加图表</i>
					<i>图文模式</i>
					<i>分享</i>
				</div>
				<div class="clear"></div>
			</div>
			<div class="charts">
				
			</div>
		</div>
	</div>
</body>
</html>