<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>编辑图表</title>
	<script src="https://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
	<link rel="stylesheet" href="./../../css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./../../css/chartdetail.css">
	<link rel="stylesheet" type="text/css" href="./../../css/iconfont/iconfont.css">
	<link rel="stylesheet" type="text/css" href="./../../css/font2/iconfont.css">
	<script src="./../../css/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src='./../../js/chartdetail.js'></script>
	<script type="text/javascript" src='./../../js/echarts.min.js'></script>
	<script type="text/javascript" src="./../../js/chooseweidu.js"></script>
	<script type="text/javascript" src='./../../js/index2.js'></script>
	
	<!-- 地图部分的引用 -->
	<!-- <script type="text/javascript" src='http://gallery.echartsjs.com/dep/echarts/latest/extension/bmap.min.js'></script> -->
	<script type="text/javascript" src='http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM'></script>
	<script type="text/javascript" src='http://gallery.echartsjs.com/dep/echarts/map/js/china.js'></script>

</head>
<body>
	 <!-- 顶部的具体信息 ==================================================== -->
	<div id="header">
		<div class="return left">
			<i class="iconfont icon-fanhui" style="color:#fff"></i>
		</div>
		<div class="header-name">编辑图表</div>
		<div class="showoperate right">
			<i class="iconfont icon-start">操作示例</i>
		</div>
		<div class="clear"></div>
	</div>
	<!-- 中间的主体内容 ===================================================-->
	<div id="content">
		<!-- =================左侧的选项栏====================== -->
		<div id="left">
			<!-- “工作表” -->
			<div class="worksheet">
				<div class="worksheet-title">
					<ul class="nav nav-pills">
						<li class="active">
							<a href="#">
								工作表
								<div class="right">
									<i class="right iconfont icon-work-list"></i>
								</div>
							</a>
						</li>
					</ul>
					<!-- <div class="left">工作表</div> -->
					
				</div>
				<div class="clear"></div>
				<div class="worksheet-content">
					<span style="cursor:pointer">学生公寓用电量统计表</span>
					
				</div>
			</div>
			<!-- “字段” -->
			<div class="field">
				<div class="field-title">
					<ul class="nav nav-pills">
						<li class="active">
							<a href="#">
								可选字段
								<div class="right">
									<i class="right iconfont icon-tubiao07-copy"></i>
								</div>
							</a>
						</li>
					</ul>
					<!-- <div class="left">可选字段</div>
					<div class="right">
						<i class="iconfont icon-tubiao07-copy"></i>
					</div> -->
				</div>
				<div class="clear"></div>
				<!-- 搜索 -->
				<!-- <div class="field-search" contenteditable="true" style="outline: none">
				</div> -->
				<!-- <i class="iconfont icon-sousuo"></i> -->

				<div class="field-content">
					
					<div class="menu-index">
			            <div class="btn-group dropdown">
			                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">2014年
			                    <span class="caret right" style="display: inline-block;margin-top:7px;"></span>
			                </button>
			                <!-- <ul class="dropdown-menu" role="menu"> -->
			                <ul role="menu">
			                    <li><a href="">一号公寓</a></li>
			                    <li><a href="">二号公寓</a></li>
			                    <li><a href="">三号公寓</a></li>
			                </ul>
			            </div>
			        </div>
					<div class="menu-index">
			            <div class="btn-group dropdown">
			                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">2015年
			                    <span  class="caret right" style="display: inline-block;margin-top:7px;"></span>
			                </button>
			                <ul  role="menu">
			                    <li><a href="">一号公寓</a></li>
			                    <li><a href="">二号公寓</a></li>
			                    <li><a href="">三号公寓</a></li>
			                </ul>
			            </div>
			        </div>
					<div class="menu-index">
			            <div class="btn-group dropdown">
			                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">2016年
			                    <span  class="caret right" style="display: inline-block;margin-top:7px;"></span>
			                </button>
			                <ul 　 role="menu">
			                    <li><a href="">一号公寓</a></li>
			                    <li><a href="">二号公寓</a></li>
			                    <li><a href="">三号公寓</a></li>
			                </ul>
			            </div>
			        </div>

					<!-- <dl>
						<dt>2014年</dt>
						<dd>一号公寓</dd>
						<dd>二号公寓</dd>
						<dd>三号公寓</dd>
						<dt>2015年</dt>
						<dd>一号公寓</dd>
						<dd>二号公寓</dd>
						<dd>三号公寓</dd>
						<dt>2016年</dt>
						<dd>一号公寓</dd>
						<dd>二号公寓</dd>
						<dd>三号公寓</dd>
					</dl> -->
				
				</div>
			</div>
		</div>
		<!-- =================中间的图表========================= -->
		<div id="center">
			<!-- 选择表 -->
			<div class="choosechart">
				<div class="choose-weidu">
					<span>维度</span>
					<a href="javascript:void(0)"><i class="iconfont icon-weibiaoti1"></i></a>
					<span id="weidus"></span>		
				</div>
				<div class="choose-shuzhi">
					<span>数值</span>
					<a href="javascript:void(0)"><i class="iconfont icon-weibiaoti1"></i></a>
				 	<span id="shuzhis"></span>
				</div>
			</div>
			<!-- 左侧设置“筛选器”和“颜色” -->
			<div class="left shaixuan">
				<!-- <div class="shaixuanqi">
					<div class="shaixuanqi-title">筛选器</div>
				</div> -->
				<div class="yanse">
					
					<!-- 各个图表的图例颜色 -->
					<!-- 折线图、柱状图、散点图 -->
						<!-- 因为这三种图可以选择不同的线，所以要每根线自己设置显示与隐藏 -->
					<div class="yanse1-chose">
						<div class="yanse-title">颜色更改
							<i id="" class="iconfont right icon-refurbish"></i>
							<!-- <span class="refresh-color right"></span> -->
						</div>
					<div class="clear"></div>
						<div class="1first"  style="display:none">
							<input type="color" name="">2014-1号公寓
						</div>
						<div class="1second" style="display:none">
							<input type="color" name="">2014-2号公寓
						</div>
						<div class="1third" style="display:none">
							<input type="color" name="">2014-3号公寓
						</div>
						<div class="11first"  style="display:none">
							<input type="color" name="">2015-1号公寓
						</div>
						<div class="12second" style="display:none">
							<input type="color" name="">2015-2号公寓
						</div>
						<div class="12third" style="display:none">
							<input type="color" name="">2015-3号公寓
						</div>
						<div class="111first"  style="display:none">
							<input type="color" name="">2016-1号公寓
						</div>
						<div class="112second" style="display:none">
							<input type="color" name="">2016-2号公寓
						</div>
						<div class="113third" style="display:none">
							<input type="color" name="">2016-3号公寓
						</div>
					</div>
					<!-- 饼图 -->
					<div class="yanse2-chose"  style="display:none">
						<div class="yanse-title">颜色
							<i id="" class="iconfont right icon-refurbish"></i>
							<!-- <span class="refresh-color right"></span> -->
						</div>
						<div class="clear"></div>
						<div class="2first" ><input type="color" name="">准时</div>
						<div class="2second"><input type="color" name="">迟到</div>
						<div class="2third"><input type="color" name=""> 请假</div>
						<div class="2forth"><input type="color" name=""> 未到</div>
					</div>
					<!-- 关系图 -->
					<div class="yanse3-chose"  style="display:none">
						<div class="yanse-title">颜色
							<i id="" class="iconfont right icon-refurbish"></i>
							<!-- <span class="refresh-color right"></span> -->
						</div>
						<div class="clear"></div>
						<div class="3first"><input type="color" name="">节点1</div>
						<div class="3second"><input type="color" name="">节点2</div>
						<div class="3third"><input type="color" name=""> 节点3</div>
						<div class="3forth"><input type="color" name=""> 节点4</div>
						<div class="3fifth"><input type="color" name=""> 节点5</div>
					</div>
					<!-- 漏斗图 -->
					<div class="yanse4-chose"   style="display:none">
						<div class="yanse-title">颜色
							<i id="" class="iconfont right icon-refurbish"></i>
							<!-- <span class="refresh-color right"></span> -->
						</div>
						<div class="clear"></div>
						<div class="4first"><input type="color" name="">展现</div>
						<div class="4second"><input type="color" name="">点击</div>
						<div class="4third"><input type="color" name="">访问</div>
						<div class="4forth"><input type="color" name="">咨询</div>
						<div class="4fifth"><input type="color" name="">订单</div>
					</div>
				</div>
			</div>
			<!-- 右侧图表 -->
			<div class="right" id="chart">
			</div>
		</div>
	<!-- =================右边的选项栏======================= -->
		<div id="right">
			
			<!-- 图表类型 -->
			<div class="charttype">
				<div class="charttype-title">
					<ul class="nav nav-pills">
						<li class="active">
							<a href="#">
								图表类型
								<div class="right">
									<i class="right iconfont  icon-tubiao-01"></i>
								</div>
							</a>
						</li>
					</ul>
					<!-- 图表类型
					<div class="right">
						<i class="iconfont icon-tubiao-01"></i>
					</div> -->	
				</div>
				<div class="chart-type">
					<div class="line" title="折线图">
						<i class="iconfont icon-iconfontcolor56"></i>
					</div>
					<div class="bar" title="柱状图">
						<i class="iconfont icon-62"></i>
					</div>
					<div class="scatter" title="散点图">
						<i class="iconfont icon-sandian"></i>
					</div>
					<div class="pie" title="饼图">
						<i class="iconfont icon-7"></i>
					</div>
					<div class="map" title="地图">
						<i class="iconfont icon-ditu"></i>
					</div>
					<div class="graph"  title="关系图">
						<i class="iconfont icon-guanxi"></i>
					</div>
					<div class="funnel"  title="漏斗图">
						<i class="iconfont icon-loudoutu"></i>
					</div>
					<div class="gauge"  title="仪表盘">
						<i class="iconfont icon-yibiaopan"></i>
					</div>
				</div>
				<div class="clear"></div>
				<!-- 光标放在不同类型上的时候，显示不同的高度 -->
				<!-- <div class="chart-hover">
					<div class="intro intro-line" style="display:none">
						<h5 class="intro-title">折线图</h5>
						<span class="intro-detail">
							1或2个维度
						</span>
						<span class="triangel"></span>
					</div>
					<div class="intro intro-bar"  style="display:none">
						<h5 class="intro-title">柱状图</h5>
						<span class="intro-detail">
							1或2个维度
						</span>
						<span class="triangel"></span>
					</div>
					<div class="intro intro-scatter"  style="display:none">
						<h5 class="intro-title">散点图</h5>
						<span class="intro-detail">
							1或2个维度
						</span>
						<span class="triangel"></span>
					</div>
					<div class="intro intro-pie"  style="display:none">
						<h5 class="intro-title">饼图</h5>
						<span class="intro-detail">
							1或2个维度
						</span>
						<span class="triangel"></span>
					</div>
					<div class="intro intro-map"  style="display:none">
						<h5 class="intro-title">地图</h5>
						<span class="intro-detail">
							1或2个维度
						</span>
						<span class="triangel"></span>
					</div>
					<div class="intro intro-graph"  style="display:none">
						<h5 class="intro-title">关系图</h5>
						<span class="intro-detail">
							1或2个维度
						</span>
						<span class="triangel"></span>
					</div>
					<div class="intro intro-funnel"  style="display:none">
						<h5 class="intro-title">漏斗图</h5>
						<span class="intro-detail">
							1或2个维度
						</span>
						<span class="triangel"></span>
					</div>
					<div class="intro intro-gauge"  style="display:none">
						<h5 class="intro-title">仪表图</h5>
						<span class="intro-detail">
							1或2个维度
						</span>
						<span class="triangel"></span>
					</div>
				</div> -->
			</div>
			<!-- <hr> -->
			<!-- 图内筛选器 -->
			<!-- <div class="tu-shaixuanqi">
				<div class="tu-title left">图内筛选器</div>
				<div class="tu-edit right">
					<i class="iconfont icon-weibiaoti1"></i>
				</div>
				<div class="clear"></div>
			</div>
			<hr> -->
			
			<!-- <hr> -->
			<!-- 图表标题 -->
			<div class="chartname">
				<div class="chartname-title">
					<ul class="nav nav-pills">
						<li class="active">
							<a href="#">
								图表标题
								<div class="right">
									<i class="right iconfont icon-biaoti"></i>
								</div>
							</a>
						</li>
					</ul>
					<!-- 
					图表标题
					<div class="right">
						<i class="iconfont icon-biaoti"></i>
					</div> -->
				</div>
					
			</div>
			<!-- <hr> -->
			<!-- 添加的 图表标题 -->
			<div class="charttitle">
				<!-- <input type="checkbox" name="title">添加图表标题 -->
				<!-- <span>图表标题的样式</span> -->
				<div>
					<span>标题:</span>
					<input type="text" name="chartname" placeholder="" class="name">
				</div>
				<div>
					<span>大小:</span>
					<input type="number" name="size" placeholder="" class="titlesize" max="25" min="12">
					<span style="display: block;margin-left: 20px;">(请填写12-25之间数字)</span>
				</div>
				<div>
					<span>颜色:</span>
					<input type="color" name="color" class="titlecolor">
				</div>
				<div>
					<span>位置:</span>
					<select class="titleposition">
						<option value="left">居左</option>
						<option value="center">居中</option>
						<option value="right">居右</option>
					</select>
					<!-- <input type="number" name='position'  class="titleleft"> -->
				</div>
				<span class="tianjia">
					<input type="checkbox" name="title" class="add-title">勾选添加图表标题 
				</span>
			</div>
			<!-- 坐标轴 -->
			<!-- <div class="xyAxis">
				<div class="biaoti">
					<span>标题</span>
					<input type="text" name="title">
				</div>
				<div class="danwei">
					<span>单位</span>
					<input type="text" name="danwei">
				</div>
				<div class="maximum">
					<span>最大值</span>
					<input type="text" name="max">
					<input type="checkbox" value="自动" id="auto-max">自动
					<label for="auto-max"></label>
				</div>
				<div class="minimum">
					<span>最小值</span>
					<input type="text" name="min">
					<input type="checkbox" value="自动" id="auto-min">自动
					<label for="auto-min"></label>
				</div>
			</div> -->
			<!-- <hr> -->
			<!-- 显示图表标签 -->
			<!-- <div class="showchart">
				<input type="checkbox" name="">显示图表标签
			</div>
			<hr>
			辅助线
			<div class="guides">
				<div class="guides-title left">辅助线</div>
				<div class="guides-edit right">
					<i class="iconfont icon-weibiaoti1"></i>
				</div>
				<div class="clear"></div>
			</div>
			<hr>
			预警
			<div class="warning">
				<div class="warning-title left">预警</div>
				<div class="warning-edit right">
					<i class="iconfont icon-weibiaoti1"></i>
				</div>
				<div class="clear"></div>
			</div>
			<hr> -->
			<!-- 显示条目数 -->
			<div class="showlinenum">
				<div class="showlinenum-title">
					<ul class="nav nav-pills">
						<li class="active">
							<a href="#">
								显示
								<div class="right">
									<i class="right iconfont icon-icon"></i>
								</div>
							</a>
						</li>
					</ul>
					<!-- 工具栏
					<div class="right">
						<i class="iconfont icon-icon"></i>
					</div>	 -->
				</div>
				<div class="showlinenum-edit">
					<label><input type="checkbox" class="showdownload">显示下载按钮</label>
					<label><input type="checkbox" class="showzoom">显示区域缩放按钮</label>
					<label><input type="checkbox" class="showdataresource">显示数据源按钮</label> 
					<label for="">
						<div class="legend">
					<input type="checkbox" name="legend">添加图例
				</div>
					</label>
				</div>
				<!-- 添加的：图例 -->
				
			</div>
			<!-- <hr> -->
			<!-- 显示缩略轴 -->
			<!-- <div class="showthumbnails">
				<input type="checkbox" name="">显示缩略轴
			</div>
			<hr>
			显示图内总计
			<div class="showtotal">
				<input type="checkbox" name="">显示图内总计
			</div>
			<hr>
			数据标注
			<div class="datalabel">
				<div class="datalabel-title left">数据标注</div>
				<div class="datalabel-edit right">
					<i class="iconfont icon-jiahao"></i>
				</div>
				<div class="clear"></div>
			</div> -->
			<!-- <hr> -->
			<!-- 图表备注 -->
			<!-- <div class="chartremark">
				<div class="chartremark-title">图表备注</div>
				<textarea></textarea>
			</div> -->
		</div>
		<div class="clear"></div>
	</div>

<!-- 左侧的 添加字段 -->
<div class="alert add-ziduan" style="display:none">
	<div class="alert-content">
		<div class="alert-title">
			<span class="left">新字段</span>
			<a href="javascript:void(0)"><i class="iconfont icon-cha close right"></i></a>
			<div class="clear"></div>
		</div>
	<!-- 	<form class="add-ziduans" action="<?php echo $_SERVER['PHP_SELF']; ?>" method="post"> -->
			<label><input type="checkbox" name="newziduan[]" value="新字段1">新字段1</label>
			<label><input type="checkbox" name="newziduan[]" value="新字段2">新字段2</label>
			<label><input type="checkbox" name="newziduan[]" value="新字段3">新字段3</label>
			<div class="clear"></div>
			<div class="btns">
				<input type="submit" name="submit" value="确&nbsp;定">
				<input type="button" name="cancel" value="取&nbsp;消" class="cancel">
			</div>
			<div class="clear"></div>
		<!-- </form> -->
	</div>
</div>

<!-- 批量添加维度字段 -->
<div class="alert add-weidu" style="display: none ">
	<div class="alert-content">
		<!-- 标题 -->
		<div class="alert-title">
			<span class="left">批量添加维度字段</span>
			<a href="javascript:void(0)"><i class="iconfont icon-cha close right"></i></a>
			<div class="clear"></div>
		</div>
		<!-- 搜索 -->
		<!-- <div class="search">
			<div class="alert-search" contenteditable="true" style="outline: none"></div>
			<i class="iconfont icon-sousuo"></i>
			 
		</div> -->
		<div class="clear"></div>
		<!-- 各个字段，用表单 -->
		<form class="ziduan">
			<!-- 维度的选项值 -->
			<label><input type="checkbox" name="weidu" value="2014年" >2014年</label>	
			<label><input type="checkbox" name="weidu" value="2015年" >2015年</label>	
			<label><input type="checkbox" name="weidu" value="2016年" >2016年</label>	
			<!-- <label><input type="checkbox" name="weidu" value="年份">年份</label>
			<label><input type="checkbox" name="weidu" value="三点水">三点水</label> -->
			<div class="btns">
				<input id="sure-weidu" type="button" name="submit" value="确&nbsp;定">
				<input type="button" name="cancel" value="取&nbsp;消" class="cancel">
			</div>
			<div class="clear"></div>
		</form>
		<div class="clear"></div>
	</div>
</div>
<!-- 批量添加数值字段 -->
<div class="alert add-num" style="display: none ">
	<div class="alert-content">
		<!-- 标题 -->
		<div class="alert-title">
			<span class="left">批量添加数值字段</span>
			<a href="javascript:void(0)"><i class="iconfont icon-cha close right"></i></a>
			<div class="clear"></div>
		</div>
		<!-- 搜索 -->
		<!-- <div class="search">
			<div class="alert-search" contenteditable="true" style="outline: none"></div>
			<i class="iconfont icon-sousuo"></i>
			 
		</div> -->
		<div class="clear"></div>
		<!-- 各个字段，用表单 -->
		<form class="ziduan">
			<!-- 维度的选项值 -->
			<label value='1号公寓'><input type="checkbox" name="shuzhi" value="0" >1号公寓</label>	
			<label  value='2号公寓'><input type="checkbox" name="shuzhi" value="1">2号公寓</label>
			<label  value='3号公寓'><input type="checkbox" name="shuzhi" value="2">3号公寓</label>

			<div class="btns">
				<input id="sure-shuzhi" type="button" name="submit" value="确&nbsp;定">
				<input type="button" name="cancel" value="取&nbsp;消" class="cancel">
			</div>
			<div class="clear"></div>
		</form>
		<div class="clear"></div>
	</div>
</div>

<!-- 各个图表在光标悬浮时的介绍 -->
	





</body>
</html>