<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>数据源首页</title>
	<script src="https://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="./../../js/index2.js"></script>
	<link rel="stylesheet" type="text/css" href="./../../css/iconfont/iconfont.css">
	<link rel="stylesheet" type="text/css" href="./../../css/index2.css">
	<link rel="stylesheet" type="text/css" href="./../../css/chartdetail.css">
</head>
<body>
     <!-- 头部的导航栏 -->
	{include file="public/admin/nav" /}
	<!-- 具体内容 -->
	<div id="content">
	 <div><img src="./../../img/empty-top.png"></div>
       	<div class="step2" style="background:url('./../../img/upload.png');background-size:100% 100%;">
					<span>步骤2、上传excel文件
						<form action="{:url('UpDownFile/upload')}" enctype="multipart/form-data" method="post" style="display: inline-block">
                  			<input type="file" name="image"  class="upfile"/> 
                  			<input type="submit" name="uploadFile" id="uploadFile" value="上传" /> 
               			</form>
               		</span>				
				</div>
	</div>
</body>
 
	<script type="text/javascript">
		 $(function(){
		 	$('#uploadFile').click(function(){
		 		var fileval =  $('.upfile').val();
		 		if(fileval!=''){
		 		    alert('上传成功'); 
		 			return true;
		 		}else{
		 			alert('请上传模板文件');
		 			return false;
		 		}
		 		// alert(fileval);
		 	})
		 	
		 })
 
   </script>
</html>