<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>工作表首页</title>
	<script src="https://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="./../../js/index2.js"></script>
	<link rel="stylesheet" type="text/css" href="./../../css/iconfont/iconfont.css">
	<link rel="stylesheet" type="text/css" href="./../../css/index2.css">
	<link rel="stylesheet" type="text/css" href="./../../css/chartdetail.css">
</head>
<body>
     <!-- 头部的导航栏 -->
	{include file="public/admin/nav" /}
	<!-- 具体内容 -->
	<div id="content">
		<!-- 左侧添加仪表盘和样式 -->
		<div id="left">
			<div class="yibiaopan">
				<div class="left"><b>仪表盘</b></div>
				<div class="right">
					<i class="iconfont icon-sousuo"></i>
					<i class="iconfont icon-jiahao"></i>
					<i class="iconfont icon-zhankai"></i>
				</div>
				<div class="clear"></div>
			</div>
			<div class="yangshi">
				<span>添加的样式</span>
				<ul>
					{foreach name="fileName" item="vo"}
					<li id={$vo.id}  >{$vo.datafilename}</li>
					{/foreach}
				</ul>
			</div>
		</div>
		<!-- 右边具体显示图表的名字和表 -->
		<div id="showcharts" class="left">
			<div class="charttitle">
				<div class="left"><b>仪表盘名字</b></div>
				<div class="right">
					<i class="iconfont icon-jiahao">添加图表</i>
					<i>图文模式</i>
					<i>分享</i>
				</div>
				<div class="clear"></div>
			</div>
			<div class="charts">
                 
					<table>
						<tr>
							<td id="infolist"></td>
						</tr>
					</table>
					
			</div>
		</div>
	</div>
</body>
	<script type="text/javascript">
	 $(document).ready(function(){ 
	 
	 $('ul li').click(function() {
	 	    
	 	  $.ajax({
				type:'post', //请求方式，默认get
				url :"{:url('Admin/worksheet_show_els')}",
				data:{
				getFunction:1,
				filename:$(this).text()
				},success:function(data,status){  
				 var data =  eval("("+data+")");
                 var str = '';
                 
				$.each(data,function(i,val){
				           
						str = str + '<tr>';
						$.each(val,function(k,v){
						  str = str + '<td> '+v+' </td>';	
				           }); 
						str = str + '</tr>';
				});
				$('#infolist').html(str);
			 
				},error:function(data,statsu){
				alert("发送请求失败！");
				}
				});
				 });
	}); 

	</script>
</html>