<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>本站用户</title>
	<meta name="viewport" name="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./../../bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./../../YuCSS/style.css">
	<link rel="stylesheet" type="text/css" href="./../../YuCSS/userIn.css">
</head>
<body>
	<div class="wrap">
		<div class="container-fluid" style="background-color: #666;">
			<div class="ch_nav">
				<img src="./../../img/LOGO_index.png" width="35">
				<span class="logo"><a href="{:url('/manageindex')}" id="logo_txt">CHOGGTEN</a></span>
				<ul class="fast_key list-inline" style="display: inline-block;">
					<li>
						<a href="{:url('/manageindex')}" style="background-color: #4C9Ed9;">
							<span class="iconfont" title="">&#xe61d;</span>
						</a>
						<a href="{:url('/userout')}" style="background-color: orange;">
							<span class="iconfont" title="">&#xe637;</span>
						</a>
						<a href="{:url('/userIn')}">
							<span class="iconfont" title="">&#xe613;</span>
						</a>
						 
					</li>
				</ul>
				<a href="javascript:void(0);" class="user">
					<span class="iconfont" style="color: orange;font-size: 28px;">&#xe632;</span>
					<span class="txt">欢迎,{$username}</span>
					<span class="txt2 glyphicon glyphicon-chevron-down"></span>
				</a>
				<ul class="user_login list-unstyled" style="display: none;">
					<li>
						<a href="{:url('adminforcon/change_Pwd')}">
							<span class="glyphicon glyphicon-lock"></span>
							<span>修改密码</span>
						</a>
					</li>
					<li>
						<a href="{:url('adminforcon/out_login')}">
							<span class="glyphicon glyphicon-off"></span>
							<span>退出</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="">
			<div class="ch_main">
				<div class="row">
					<div class="col-md-2 col-sm-12 col-xs-12">
							 
					 
                    	 <ul class="ul_nav list-unstyled">
              
               {volist name="menu" id="vo"}
              <li class="ul_one_li" style="border-bottom:transparent;">
                <a href="#" class="ul_one_a">
                  <span class="iconfont1 icon1">&#xe61f;</span>
                  <span>{$vo[0]['module_name']}</span>
                </a>
                <ul class="list-unstyled ul_one"  >
                   {volist name=":SidType($vo[0]['module_code'],$roleId)" id="k"}
                  <li class="ul_two_li">
                    <a href="#" class="ul_two_a">
                      <span class="glyphicon glyphicon-collapse-down"></span>
                      <span>{$k[0]['module_name']}</span>
                    </a>
                    <ul class="list-unstyled ul_two"   >
                       {volist name=":SidType($k[0]['module_code'],$roleId)" id = "kk"}
                      <li class="ul_three_li">
                        <a href="{:url($kk[0]['module_url'])}">
                        <span class="glyphicon glyphicon-collapse-up"></span>
                        <span>{$kk[0]['module_name']}</span> 
                        </a>
                      </li>
                       {/volist}
                     
                    </ul>
                  </li>
                  {/volist}
                
                </ul>
              </li>
              {/volist}
            </ul>
						
					</div>
					 
					<div class="col-md-9 col-sm-12 col-xs-12">
						<div class="right">
							<div class="right_top">
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active"><a href="#">本站用户</a></li>
								</ul>
							</div><!--
							<div class="right_title">
							
								<form>
									 <label>用户ID:</label>
									 <input type="text" name="id" value="请输入用户ID">
									 &nbsp;&nbsp;<label>关键字:</label>
									 <input type="text" name="key" value="用户名/昵称/邮箱">
									 &nbsp;&nbsp;
									 <button class="btn btn-info">搜索</button>
									 <button class="btn btn-danger">清空</button>
								</form> 
							</div>-->
							<div class="right_table">
								<table border="1" borderColor="#eee">
									<tr>
										<th>ID</th>
										<th>用户名</th>
										<th>昵称</th>
										<th>头像</th>
										<th>邮箱</th>
										<th>注册时间</th>
										<th>最后登录时间</th>
										<th>最后登录IP</th>
										<th>状态</th>
										<th colspan="3">操作</th>
									</tr>
										{volist name="see" id="vo" }
									<tr>

										<td class='s1'>{$key+1}</td>
										<td class='s2'>{$vo.name}</td>
										<td class='s3'>{$vo.name}</td>
										<td class='s4'></td>
										<td class='s5'>{$vo.mail}</td>
										<td class='s6'>{$vo.create_time}</td>
										<td class='s7'>{$vo.last_login_time}</td>
										<td class='s8'>{$vo.last_login_ip}</td>
										<td class='s9'>{$vo.status}</td>
										
										 
										<td>
											<button class="btn-sm btn-sm-blue lahei"    onclick="location.reload();" >拉黑</button>
										</td>
										<td>
											<button class="btn-sm btn-sm-blue huifu"   onclick="location.reload();" >恢复</button>
										</td>
										<td>
											<button class="btn-sm btn-sm-blue del"   onclick="location.reload();">删除</button>
										</td>
									</tr>
									 {/volist}
										 
								</table>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 脚本语言 -->
	<script src="./../../js/jquery.min.js"></script>
	<script src="./../../bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			 
			$('.user').click(function() {
				$('.user_login').toggle();
			});
			$('.ul_one_a').click(function() {
				$(this).parent().find('.ul_one').toggle();
			});
			$('.ul_two_a').click(function() {
				$(this).parent().find('.ul_two').toggle();
			});

			$('.lahei').click(function(){
      		var value = $(this).parent().parent().children('.s2 ').text();
      		$.post("{:url('Adminforcon/dis_the_status')}",{
              name:value
		 	 },function(data){

		 	 });
      		});
      			$('.huifu').click(function(){
      		var value = $(this).parent().parent().children('.s2 ').text();
      		$.post("{:url('Adminforcon/dis_the_restatus')}",{
              name:value
		  },function(data){

		  });
      	});
      			$('.del').click(function(){
      		var value = $(this).parent().parent().children('.s2 ').text();
      		$.post("{:url('Adminforcon/dis_the_del')}",{
              name:value
		  },function(data){

		  });
      	});

		})
      	
       
      	 	
      	
		 
	</script>
</body>
</html>