<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./../../css/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="./../../css/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <table>
        <tbody>
    {foreach item="vo" name="return_all_file"}
        <tr>
            <td>
                <button id="{$vo.id}">{$vo.file_name}</button>
            </td>
        </tr>
    {/foreach}
        </tbody>
    </table>
</body>
<script type="text/javascript">
    $('button').click(function(event) {
       // alert($(this).text());
        $.ajax({
            url: "{:url('Test/test')}",
            type: 'post',
           
            data: {file_name: $(this).text()},
        })
        .done(function(data) {
            alert(data);
        })
        .fail(function() {
            console.log("error");
        })
        .always(function() {
            console.log("complete");
        });
        
    });
</script>
</html>
